body {
    background-color: aqua;
    font-family: georgia;
}

p {
    text-align: justify;
}

h1 {
    font-family: comic Sans MS;
    font-size: 60px;
    color: darkblue;
}

h4 {
    font-style: italic;
    text-align: right;
}